---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Lauren Champs';
---

<BaseLayout pageTitle={pageTitle}>
	<main>
		<section class="coming-soon">
			<img src="/lc-logo.svg" alt="" height="100" width="100">
			<h1 class="step-2">Hello, my name is {pageTitle}<span class="accent">.</span></h1>
			<p class="step-1 intro-text">I'm a web developer and virtual assistant living on Kaurna Land (Adelaide, Australia). I'm tinkering away in the background on my new website but in the meantime, if you'd like to work together, reach out!</p>
			<p class="step-1 intro-text">Contact me at hello@laurenchamps.com or <a href="https://calendly.com/laurenchamps/chat-with-lauren">book in a chat</a>.</p>
		</section>
	</main>
</BaseLayout>



