---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource/dm-serif-display';
import '@fontsource/pt-sans';
import '../styles/global.css';

const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/lc-logo.svg"/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<h1><span class="accent">{pageTitle}</span> is a web developer based in Adelaide, Australia.</h1>
		<slot />
		<Footer />
	</body>
</html>

<style>
	h1 {
		text-align: center;
		color: var(--color-text-dk-primary);
	}

	.accent {
		color: var(--color-accent-dk);
	}
</style>
